<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Oc34n_OneClickTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
        <Oc34n_OneClickTool.Properties.Settings>
            <setting name="isDarkMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doesSkipSetup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doesDisableBaseband" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doesDisableOTA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isNonInteractive" serializeAs="String">
                <value>False</value>
            </setting>
        </Oc34n_OneClickTool.Properties.Settings>
    </userSettings>
</configuration>
