<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoClosingMessageBox" version="1.0.0.2" targetFramework="net452" />
  <package id="LibUsbDotNet" version="2.2.29" targetFramework="net452" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net452" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net452" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net452" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net452" />
  <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="6.2.10" targetFramework="net452" />
  <package id="ModernUI" version="2.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="RestSharp" version="106.11.4" targetFramework="net452" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net452" />
</packages>